$phone: 415px;

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3cad7e;
  font-family: 'Arial', sans-serif;
}

.container {
  h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    @media screen and(max-width: $phone) {
      font-size: 35px;
    }
  }
}

.nice-wrap {
  position: relative;
  width: 500px;
  height: 50px;
  margin: 0 auto;

  @media screen and (max-width: $phone) {
    width: 350px;
    height: 75px;
    padding-bottom: 25px;
  }
}

.nice-label {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  transition: all 0.25s ease;
  
  &.focus {
    top: -25px;
    left: 5px;
    font-size: 14px;
    color: #fff;
  }
}

.nice-textbox {
  position: relative;
  display: block;
  width: 500px;
  margin-top: 50px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  outline: none;
  @media screen and (max-width: $phone) {
    width: 350px;
    margin-top: 25px;
  }
}

.button-wrap {
  margin: 0 auto;
  margin-top: 20px;
}

.nice-button {
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #a0a0a0;
  background-color: #ffefe5;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.copy-label {
  opacity: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;

  &.show {
    opacity: 100;
  }
}

.setting-wrap {
  margin-top: 15px;
}

.setting-button {
  display: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background-color: #a1d1cc;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:active {
    box-shadow: none;
    position: relative;
    top: 3px;
  }
}

.material-icons {
  font-size: 36px;
  &.custome {
    color: #1f5c37;
    transition: 0.5s;
    transform: rotateZ(0deg);
    &:hover {
      transform: rotateZ(180deg);
    }
  }
}

.setting-container {
  display: none;
  &.show {
    display: block;
  }
}

